<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Star Wars</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/js/app.js"></script>

</head>

<body>
    <div class="container">

        <h1>Star Wars universe planets</h1>

        <button id="prev" class="button" data-url="{{previous}}">Previous</button>
        <button id="next" class="button" data-url="{{next}}">Next Page</button>
        <div id="planets"></div>

            <table class="table table-bordered" id="planet-info">
                <thead id="planet-info-thead">
                    <tr>
                        <th>Name</th>
                        <th>Diameter</th>
                        <th>Climate</th>
                        <th>Gravity</th>
                        <th>Terrain</th>
                        <th>Water</th>
                        <th>Population</th>
                        <th>Residents</th>
                    </tr>

                </thead>
                <tbody id="table-body">

                </tbody>

            </table>

    </div>

     <div class="modal fade" id="resident-modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 id="residents-title">Residents</h4>
          </div>
          <div class="modal-body">
              <table class="table table-bordered table-hover">
                  <thead>
                      <tr>
                          <th>Name</th>
                          <th>Height</th>
                          <th>Mass</th>
                          <th>Hair color</th>
                          <th>Skin color</th>
                          <th>Eye color</th>
                          <th>Birth year</th>
                          <th>Gender</th>
                      </tr>
                  </thead>
                  <tbody id="resident-table">
                  </tbody>
              </table>
          </div>
        </div>
      </div>
    </div>


</body>

</html>
